<h1>Visites</h1>

<table>
  <thead>
    <tr>
      <th>Chemin</th>
      <th>Nombre</th>
      <th>Connecté ?</th>
    </tr>
  </thead>

  <tbody>
    <% @visites.each do |visite| %>
      <tr>
        <td><%= visite.path %></td>
        <td><%= visite.count %></td>
        <td><%= visite.organisation_id ? "Oui" : "Non" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
