<%= simple_form_for(@organisation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% action_edit = (action_name =~ /edit|update/) %>
  <% edit_message = action_edit ? "<strong>Laissez ces champs vides pour ne pas modifier le mot de passe.</strong> " : "" %>
  <div class="form-inputs">
    <%= f.input :nom %>
    <%= f.input :password, label: "Mot de passe admin", hint: "#{edit_message}Ce mot de passe ne doit pas être rendu public. Il vous permettra d’accéder aux fonctions d'administration de l’organisation.".html_safe %>
    <%= f.input :password_confirmation, required: ! action_edit, label: "Confirmation du mot de passe administrateur" %>
    <%= f.input :read_password, label: "Mot de passe pour les utilisateurs", hint: "#{edit_message}Afin de protéger les données des personnes, notamment leurs coordonnées, merci de déterminer un mot de passe à diffuser auprès des utilisateur&middot;ice&middot;s. Ce mot de passe leur permettra d’accéder à l’intégralité des données de l'orgagnisation.".html_safe %>
    <%= f.input :read_password_confirmation, required: ! action_edit, label: "Confirmation du mot de passe utilisateurs" %>
    <%= f.association :categories, hint:"Voici les différents types de coup de main qu’il est possible de proposer. À vous de choisir ceux qui seront proposés pour la rédaction des annonces des utilisateur&middot;ices. Il y en a peut-être qui ne sont pas pertinents dans votre organisation. Shift permet de sélectionner une plage, Ctrl un par un.<br>Pour ajouter de nouvelles catégories, il faudra aller dans le menu Catégories, accessible en haut.".html_safe, input_html: {size: Categorie.count} %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enregistrer les modifications", class: "btn btn-secondary" %>
  </div>
<% end %>
