<h1>Modifier Organisation</h1>

<%= render 'form', organisation: @organisation %>

<p class="mt-2">
<%= link_to 'Annuler', @organisation, class: "btn btn-secondary" %> 
<%= link_to 'Gérer le profil', edit_annonce_path(@organisation.annonce), class: "btn btn-outline-secondary", 'data-toggle': "tooltip", title: "Cela annulera aussi les changements en cours" %> 
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#supprModal">
  Supprimer l'organisation
</button>
</p>

<!-- Modal -->
<div class="modal fade" id="supprModal" tabindex="-1" role="dialog" aria-labelledby="supprModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="supprModalLabel">Supprimer l'organisation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag organisation_path(id: @organisation.id), method: :delete, class: "simple_form" do %>
        <div class="modal-body">
          <p>Êtes vous sûr&middot;e de vouloir supprimer l'organisation <%= @organisation.nom %> et les annonces (<%= @organisation.annonces.count %>) qui s'y trouvent ?</p>
          <div class="form-inputs">
            <%= label_tag :password %>
            <%= password_field_tag 'password', '' %>
          </div>

          <div class="form-actions">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <input class="btn btn-danger" value='Supprimer cette organisation' type='submit' id='submit-form'/>
        </div>
      <% end %>
    </div>
  </div>
</div>

