<div class="jumbotron">
  <h1 class="display-4">Coup2Main</h1>
  <p class="lead">Bienvenue sur notre plate-forme de partage de coups de main.</p>
  <hr class="my-4">
  <p>Vous trouverez ci-dessous la liste des organisations qui proposent ce service.<br>
  Pensez au bouton Aide en haut quand vous êtes perdu&middot;e&middot;s.</p>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mapModal">Voir sur la carte</button>
</div>

<div class="row row-cols-1 row-cols-md-3">
  <% @organisations.each do |organisation| %>
    <div class="col mb-3">
      <div class="card">
        <div class="card-header"><h5><%= organisation.nom %></h5></div>
        <div class="card-body">
          <p class="card-text">
          <% if organisation.annonce&.latlong? %>
            <a hidden href="geo:<%= organisation.annonce.latlong %>" data-map="<%= organisation.annonce.latlong %>" data-text="<%= organisation.nom %>">geo:<%= organisation.annonce.latlong%></a>
          <% end %>
          <% if organisation.annonce&.web? %>
            <a href="<%= organisation.annonce.web %>" target="_blank">Site web...</a>
          <% end %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to 'Se connecter', login_organisation_path(organisation), class: "btn btn-outline-secondary" %>
          <% if organisation == current_organisation && current_admin %>
            <%= link_to 'Modifier', edit_organisation_path(organisation), class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
<%= link_to 'Ajouter une organisation', new_organisation_path, class: "btn btn-outline-secondary" %>
</p>

<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Localisation des organisations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="map" style='height:500px;'>
        </div>
      </div>
    </div>
  </div>
</div>
