<div class="jumbotron">
  <h1 class="display-4">Coup2Main</h1>
  <p class="lead">Bienvenue sur notre plate-forme de partage de coups de main.</p>
  <hr class="my-4">
  <p>
  Pensez au bouton Aide en haut quand vous êtes perdu&middot;e&middot;s.
  <% if @organisations.count == 1 %>
    <br>
    Si vous ne retrouvez pas le mot de passe, demandez à <%= link_to @organisations.first.nom, @organisations.first %>.
  <% end %>
  </p>
</div>
<%= simple_form_for(:organisation, url: login_organisations_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% plaintext = (@organisations.count == 1 ? "form-control-plaintext" : "") %>
    <%= f.input :id, collection: @organisations, label: "Organisation", :label_method => :nom, include_blank: false, include_hidden: false, input_html: {class: plaintext} %>
    <%= f.input :password, label: "Mot de passe d'accès" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Se connecter", class: "btn btn-secondary" %>
  </div>
<% end %>
