<h1>Nouvelle Organisation</h1>

<p>
<% case request.host %>
<% when /127|192|localhost/ %>
  Version locale.
<% when /demo/ %>
  <strong>Version de test.</strong> Les données seront effacées régulièrement. <a href="https://coup2main.herokuapp.com/">Version complète</a>.
<% else %>
  Version de production. Si vous voulez tester l'application, vous pouvez utiliser la <a href="https://coup2main-demo.herokuapp.com/">version de test</a>.
<% end %>
</p>

<%= render 'form', organisation: @organisation %>
<p>Dans le prochain formulaire, vous devrez créer une annonce associée à votre structure, afin d'être joignable par les utilisateurs. Pensez à remplir la position, elle servira de position par défaut. Le mot de passe demandé est le mot de passe admin que vous venez de créer. N'oubliez pas vos mots de passes, il n'y a pas encore de moyens de les récupérer.</p>
<p><%= link_to 'Retour à la liste', organisations_path %></p>
