<% if current_organisation == @organisation %>
  <%= render @organisation.annonce %>
<% else %>
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-3">
      <div class="card">
        <div class="card-header"><h5><%= @organisation.nom %></h5></div>
        <div class="card-body">
          <p class="card-text">
          <% if @organisation.annonce&.web? %>
            <a href="<%= @organisation.annonce.web %>" target="_blank">Site web...</a>
          <% end %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to 'Se connecter', login_organisation_path(@organisation), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
</div>
<% end %>

<% if check_admin(@organisation) %>
  <p>
  <strong>Catégories autorisées dans l'organisation&nbsp;:</strong>
  </p>
  <ul>
    <% @organisation.categories.each do |cat| %>
      <li><%= cat.name %></li>
    <% end %>
  </ul>
  <p>
  <%= link_to 'Modifier les catégories ou les mots de passe', edit_organisation_path(@organisation), class: "btn btn-outline-secondary" %>
  <%= link_to 'Gérer le profil', edit_annonce_path(@organisation.annonce), class: "btn btn-outline-secondary" %> 
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#supprModal">
    Supprimer l'organisation
  </button>
  </p>
<% end %>

<!-- Modal -->
<div class="modal fade" id="supprModal" tabindex="-1" role="dialog" aria-labelledby="supprModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="supprModalLabel">Supprimer l'organisation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag organisation_path(id: @organisation.id), method: :delete, class: "simple_form" do %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= label_tag :password %>
            <%= password_field_tag 'password', '' %>
          </div>
          <p>Êtes-vous sûr&middot;e de vouloir supprimer définitivement l'organisation <%= @organisation.nom %> et les <%= @organisation.annonces.count %> annonces qui y sont ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <input class="btn btn-danger" value='Supprimer cette organisation' type='submit' id='submit-form'/>
        </div>
      <% end %>
    </div>
  </div>
</div>
