<dl class="row mt-3">
  <dt class="col-sm-3">Nom&nbsp;:</dt>
  <dd class="col-sm-9"><%= annonce.nom %></dd>

  <% if annonce.tel1.present? %>
    <dt class="col-sm-3">Numéro de téléphone&nbsp;:</dt>
    <dd class="col-sm-9"><a href="tel:<%= annonce.tel1 %>"><%= annonce.tel1 %></a></dd>
  <% end %>

  <% if annonce.tel2.present? %>
    <dt class="col-sm-3">Autre numéro de téléphone&nbsp;:</dt>
    <dd class="col-sm-9"><a href="tel:<%= annonce.tel2 %>"><%= annonce.tel2 %></a></dd>
  <% end %>

  <% if annonce.mail.present? %>
    <dt class="col-sm-3">Adresse mail&nbsp;:</dt>
    <dd class="col-sm-9"><a href="mailto:<%= annonce.mail %>"><%= annonce.mail %></a></dd>
  <% end %>

  <% if annonce.web.present? %>
    <dt class="col-sm-3">Site web&nbsp;:</dt>
    <dd class="col-sm-9"><a href="<%= annonce.web %>" target="_blank"><%= annonce.web %></a></dd>
  <% end %>

  <% if annonce.adresse.present? %>
    <dt class="col-sm-3">Adresse&nbsp;:</dt>
    <dd class="col-sm-9"><%= annonce.adresse %></dd>
  <% end %>

  <% if annonce.distance.present? %>
    <dt class="col-sm-3">Distance maximale&nbsp;:</dt>
    <dd class="col-sm-9">
      <%= annonce.distance %>km
      <%= hidden_field :annonce, :distance %>
    </dd>
  <% end %>

  <% if annonce.latlong.present? %>
    <dt class="col-sm-3">Localisation&nbsp;:</dt>
    <dd class="col-sm-9">
      <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#mapModal">Voir sur la carte.</button>
      <a href="geo:<%= annonce.latlong %>">geo:<%= annonce.latlong%></a>
    </dd>
  <% end %>

    <dt class="col-sm-3">Catégories&nbsp;:</dt>
  <ul class="col-sm-9">
    <% annonce.categories.each do |cat| %>
      <li><%= cat.name %></li>
    <% end %>
  </ul>

  <% if annonce.autres.present? %>
    <dt class="col-sm-3">Autres&nbsp;:</dt>
    <dd class="col-sm-9"><%= markdown(annonce.autres) %></dd>
  <% end %>
</dl>

<% if annonce.latlong.present? %>
  <!-- Map Modal -->
  <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Localisation sur carte</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="map" style='height:500px;' data-map="<%= annonce.latlong %>">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
