<%= simple_form_for(@annonce, wrapper: :input_group ) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-row">
      <%= f.input :nom, wrapper_html: { class: 'col-md' } %>
      <%= f.input :password, required: true, label: "Mot de passe (pour modifier l'annonce)", wrapper_html: { class: 'col-md' , 'data-toggle': "tooltip", title: "Ce mot de passe doit être unique et connu de vous seul&middot;e".html_safe} %>
      <% if action_name =~ /new|create/ %>
        <%= f.input :password_confirmation, required: true, label: "Confirmation du mot de passe", wrapper_html: { class: 'col-md' } %>
      <% end %>
    </div>
    <small class="form-text text-muted">
      Seul un des moyens de contact ci-dessous est indispensable. À vous de choisir !
    </small>
    <div class="form-row">
      <%= f.input :tel1, label: "Téléphone", wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :tel2, label: "Autre téléphone", wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="form-row">
      <%= f.input :mail, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :web, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <%= f.input :adresse %>
    <div class="form-row align-items-end">
      <%= f.input :distance, label: "Combien de kilomètres je suis prêt&middot;e à faire (à vol d'oiseau)&nbsp;:".html_safe, wrapper_html: { class: 'col-md-5' }, input_html: {min: 1} %>
      <%= f.input :latlong, label: "Localisation de départ", readonly: true, wrapper_html: { class: 'col-md-3',  'data-toggle' => "tooltip", title: "Cela pour éviter que vous soyez contacté&middot;e&middot;s par des personnes cherchant ce coup de main, qui vivent au-delà de la distance que vous êtes prêt&middot;e&middot;s à parcourir.".html_safe } %>
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mapModal">Ouvrir la carte pour choisir la localisation.</button>
      </div>
    </div>
    <%= f.association :categories, as: :check_boxes, collection: current_organisation.categories, wrapper: :custom_collection_inline %> 
    <%= f.input :autres, hint: "Ce dernier champ sera interprété via <a href=\"https://github.com/AngleMortSociety/doc-markdown/blob/master/md/markdown.md\" target=\"_blank\">Markdown</a>. Vous pouvez mettre des liens, de la mise en forme&hellip;".html_safe, wrapper_html: {'data-toggle' => "tooltip", title: "Ces ajouts ne seront pas utilisables dans la recherche."} %>
  </div>

  <p class="form-text text-muted">
    En publiant cette annonce, vous êtes conscient&middot;e que les informations sont accessibles à tous les membres de l'organisation <%= current_organisation.nom %> ainsi qu'à l'administrateur de ce site. De plus l'accès à l'organisation n'est protégé que par un simple mot de passe.
  </p>
  <div class="form-actions">
    <%= f.button :submit, "Enregistrer l'annonce", class: "btn btn-secondary" %>
  </div>
<% end %>

<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Choix de la localisation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="map" style='height:500px;' data-map="<%= current_organisation.annonce.latlong %>">
        </div>
      </div>
      <div class="modal-footer">
        <p class="text-muted">Veuillez déplacer le marqueur à la position souhaitée, soit en le glissant, soit par un double-clique. Vous pouvez rechercher un lieu avec la loupe <img src="/packs/media/images/geocoder-a987f06f.png" title="loupe">, puis la touche entrée. Vous pouvez aussi utiliser la cible <img src="/packs/media/images/gps-icon-dfd730fd.svg" height=26 width=26 style="object-fit: cover" title="cible"> pour centrer la carte sur votre position (plutôt sur mobile).<br>
        Le cercle bleu représente la distance que vous avez choisi. Vous pouvez la modifier et revenir voir l'effet.</p>
      </div>
    </div>
  </div>
</div>
