<h1>Modifier l'annonce</h1>

<%= render 'form', annonce: @annonce %>

<p class="mt-2">
<%= link_to 'Annuler', @annonce, class: "btn btn-secondary" %>
<%= link_to 'Retour à la liste', annonces_path, class: "btn btn-outline-secondary" %>
</p>
<% unless @annonce == @annonce.organisation.annonce %>
<p>
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mdpModal">
  Modifier le mot de passe
</button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#supprModal">
  Supprimer l'annonce
</button>
</p>
<% end %>

<!-- Modal -->
<div class="modal fade" id="supprModal" tabindex="-1" role="dialog" aria-labelledby="supprModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="supprModalLabel">Supprimer l'annonce</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag annonce_path(id: @annonce.id), method: :delete, class: "simple_form" do %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= label_tag :password %>
            <%= password_field_tag 'password', '' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <input class="btn btn-danger" value='Supprimer cette annonce' type='submit' id='submit-form'/>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="mdpModal" tabindex="-1" role="dialog" aria-labelledby="mdpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mdpModalLabel">Changer le mot de pass de l'annonce</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@annonce, wrapper: :input_group ) do |f| %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :old_password, required: true, label: "Mot de passe actuel" %>
            <%= f.input :password, required: true, label: "Nouveau mot de passe" %>
            <%= f.input :password_confirmation, required: true, label: "Confirmation du nouveau mot de passe" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
          <input class="btn btn-secondary" value='Changer' type='submit' id='submit-form'/>
        </div>
      <% end %>
    </div>
  </div>
</div>
