<p class="mt-2"><%= link_to 'Proposer un coup de main', new_annonce_path, class: "btn btn-secondary btn-lg" %></p>

<%= simple_form_for :filtre, url: annonces_path, :method => :get, :html => {:class => "form-inline"} do |f| %>
    <%= f.input :categorie, selected: @categorie&.id, include_blank: "Tout" , required: false, collection: [*current_organisation.categories, Categorie.new(id:-1, nom: "Autres...")], label: "Chercher ", input_html: { class: 'mx-sm-2' } %>
    <% if @categorie&.sur_place %>
	<%= f.hidden_field :latlong,  :value => session["latlong"]%>
	<span data-toggle="tooltip" title="Renseigner votre adresse permettra de filtrer les annonces des personnes qui sont prêtes à venir jusque chez vous." class="mr-sm-2"> 
	<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#mapModal">Position</button>
	</span>
    <% end %>
    <%= f.button :submit, "Filtrer", class: "btn-secondary" %>
<% end %>

<div class="row row-cols-1 row-cols-md-3 mt-4">
    <% @annonces.shuffle(random: Random.new(Date.today.yday)).each do |annonce| %>
	<div class="col mb-3">
	    <div class="card">
		<div class="card-header"><h5><%= annonce.nom %></h5></div>
		<div class="card-body">
		    <p class="card-text">
		    <% annonce.categories.sample(3).each do |cat| %>
			<%= cat.name.truncate(44, separator: /\.,\s/, omission: '&hellip;').html_safe %><br />
		    <% end %>
		    <% if annonce.categories.length > 3 %>
			&hellip;
		    <% end %>
		    </p>
		</div>
		<div class="card-footer">
		    <small class="text-muted"><%= link_to "Voir toute l'annonce".html_safe, annonce %></small>
		</div>
	    </div>
	</div>
    <% end %>
</div>

<% if @categorie&.sur_place %>
    <!-- Map Modal -->
    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
		<div class="modal-header">
		    <h5 class="modal-title" id="modalLabel">Choix de votre position</h5>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		    </button>
		</div>
		<div class="modal-body">
		    <div id="map" style='height:500px;' data-map="<%= current_organisation.annonce.latlong %>">
		    </div>
		</div>
		<div class="modal-footer">
        <p class="text-muted">Veuillez déplacer le marqueur à la position souhaitée, soit en le glissant, soit par un double-clique. Vous pouvez rechercher un lieu avec la loupe <img src="/packs/media/images/geocoder-a987f06f.png" title="loupe">, puis la touche entrée. Vous pouvez aussi utiliser la cible <img src="/packs/media/images/gps-icon-dfd730fd.svg" height=26 width=26 style="object-fit: cover" title="cible"> pour centrer la carte sur votre position (plutôt sur mobile).<br>
        Le cercle bleu représente la distance que vous avez choisi. Vous pouvez la modifier et revenir voir l'effet.</p>
		</div>
	    </div>
	</div>
    </div>
<% end %>
