<%= render @annonce %>

<p>
<%= link_to 'Modifier', edit_annonce_path(@annonce), class: "btn btn-outline-secondary" %>
<%= link_to 'Retour à la liste', annonces_path, class: "btn btn-outline-secondary" %>
</p>
