<%= simple_form_for(@categorie) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nom %>
    <%= f.input :sur_place, hint: "C'est à dire que l'on ne peut pas faire à distance, par téléphone ou Internet." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-secondary" %>
  </div>
<% end %>
