<h1>Modification de Catégorie</h1>

<%= render 'form', categorie: @categorie %>
<p></p>
<p>Attention ! La modification ou la suppression de cette catégorie sera effective pour toutes les organisations qui l'utilisent (<%= @categorie.organisations.count %>). 
Cela apparaîtra sur toutes les annonces qui ont activé cette catégorie (<%= @categorie.annonces.count %>). 
Il vaut souvent mieux créer une nouvelle catégorie, et l'ajouter à votre organisation.</p>
<p>
<% if (@categorie.annonces.count == 0) %>
  <%= link_to 'Supprimer', @categorie, method: :delete, data: { confirm: 'Êtes-vous sûr&middot;e ?'.html_safe }, class: "btn btn-danger" %>
<% end %>
<%= link_to 'Annuler', @categorie, class: "btn btn-outline-secondary" %>
</p>
