<h1>Catégories</h1>

<p>
<%= link_to 'Nouvelle Catégorie', new_categorie_path, class: "btn btn-secondary" %>
</p>

<ul>
  <% @categories.each do |categorie| %>
    <li><%= link_to categorie.name, categorie %></li>
  <% end %>
</ul>

