<p>
<%= @categorie.nom %><br>
  <%= @categorie.sur_place ? "Sur place" : "À distance" %>
</p>

<p>
<% if (@categorie.organisations.count == 0) || ((@categorie.organisations.count == 1) && (@categorie.organisations.first == current_organisation)) %>
  <%= link_to 'Modifier', edit_categorie_path(@categorie), class: "btn btn-secondary" %>
<% else %>
  <span class="text-muted">Impossible de modifier ou supprimer une catégorie utilisée par d'autres organisations que la votre, mais vous pouvez la retirer de votre organisation.</span><br>
<% end %>
<%= link_to 'Retour à la liste', categories_path, class: "btn btn-outline-secondary" %>
</p>
