<%# https://stackoverflow.com/a/17932167 %>
<%# Rails flash messages styled for Bootstrap 3.0 %>
<%# works with Rails 4.0 or Rails 4.1 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
